<div class="row">
  <div class="small-7 columns">
	<p id="notice"><%= notice %></p>
	<p>
	  <strong>User:</strong>
	  <%= @post.user_id %>
	</p>

	<p>
	  <h2><%= @post.title %></h2>
	</p>

	<p>
	  <%= @post.description %>
	</p>

<br></br>
<%#= render :partial => "post" %>

	<%= link_to 'Edit', edit_post_path(@post), :class => 'button radius' %>
	<%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button alert radius' %>

  </div>
</div>
