<div class="top-bar">
	<div class="large-1 column">
		<div class="top-bar-left">
			<ul class="menu">
				<div id="app_title">
					<li id="nav-link">
						<%= link_to "JobApp", posts_path %>
					</li>
				</div>
			</ul>
		</div>
	</div>
	<div class="small-10 column">
		<div class="top-bar-right">
			<ul class="menu">
				<!-- content once logged in goes here -->
				<% if logged_in? %>
					<li id="nav-link">
						<%= link_to current_user.name, user_path(current_user.id) %>
					</li>
					<li id="nav-link">
						<%= link_to 'Logout', logout_path %>
					</li>
				<% else %>
					<li id="nav-link">
						<%= link_to 'Login', login_path %>
					</li>
					<li id="nav-link">
						<%= link_to 'Sign Up', signup_path %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>