<!DOCTYPE html>
<html>
<head>
	<title>JobApp</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div class="contain-to-grid">
		<nav class="top-bar" data-topbar>
			<li class="title" id="nav-link">
				<%= link_to "JobApp", posts_path %>
			</li>

			<!-- content once logged in goes here -->
			<% if logged_in? %>
			<li class="right" id="nav-link">
				<%#= link_to session.current_user.name, user_path %>
				<%= link_to 'Logout', logout_path %>
			</li>
			<% else %>
			<li class="right" id="nav-link">
				<%= link_to 'Login', login_path %> |
				<%= link_to 'Sign Up', signup_path %>
			</li>
			<% end %>
		</nav>
	</div>

<%= yield %>

</body>
</html>
